.admin-status {
    cursor: default;
}

.status-option, .status-grp {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 10px;
    row-gap: 10px;
}

.status-grp {
    flex-flow: row;
}

.status-active {
    color: black;
    background-color: rgba(255, 255, 255, 0.7)!important;
}

.status:active {
    background-color: black;
}

.statuses {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
}