.main-tab {
    min-height: 100vh;
    padding: 85px 10px;
    background-color: var(--main-back-4);
    box-shadow: inset 0px 12px 12px -10px rgba(0, 0, 0, 0.7);
}

.options {
    display: flex;
    background-color: var(--main-back-2);
    flex-flow: column nowrap;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 85px;
}

.single-option, .icon-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

.textareaData {
    height: 150px;
}

.textareaData:focus {
    background-color: rgba(255, 255, 255, 0.15);
}

.option-icon {
    font-size: 18px;
    margin-right: 10px;
}

/* style for all input fields in this component */

.inputfield {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: 0.25s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
    outline: 0;
    width: 100%;
    padding: 11px 10px;
    padding-left: 15px;
    border-radius: 7px;
    cursor: text;
    color: var(--main-text);
}

input::placeholder {
    color: var(--main-semi-0);
}

/* .MuiButton-root:hover {
    background-color: black!important;
    color: var(--main-text);
} */

input:focus {
    background-color: rgba(255, 255, 255, 0.15);
}

.inputGroup {
    display: flex;
    width: 100%;
    column-gap: 15px;
    justify-content: space-between;
}

.single-option {
    width: 190px;
    transition: 0.2s all ease;
    flex-flow: row;
    padding: 10px 0px;
    /* padding-left: 20px; */
    justify-content: flex-start;
    align-items: center;
}

.dashboard-container {
    padding-bottom: 0px;
    color: var(--main-text);
}

.icon-container {
    width: 30px;
    height: 30px;
    justify-content: center;
}