.navbar-container {
    color: var(--main-text);
    display: flex;
    justify-content: center;
    row-gap: 30px;
    transition: 0.22s all cubic-bezier(0.55, 0.055, 0.675, 0.19);
    /* transition-delay: 0.1s; */
    transform: scale(1.2);
    column-gap: 60px;
    align-items: center;
    z-index: 51;
}

#onpage-link {
    /* color: inherit; */
    width: 100%;
    text-decoration: none;
}

.nav-block {
    cursor: pointer;
    transition: 0.25s all ease-in-out;
    text-align: left;
    width: 100%;
    font-weight: 500;
}

.nav-block:hover {
    color: var(--main-text);
}

.marknv {
    color: var(--main-text);
}

.nomarknv {
    color: rgba(255, 255, 255, 0.3);
}