.login-container {
    background: url(../../Images/gallery/people3.jpg);
    background-position: 25% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.login-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(15, 12, 17, 0.9) 0%, rgba(15, 12, 17, 0.93) 40%, rgba(15, 12, 17, 0.96) 80%, rgba(15, 12, 17, 1) 100%);
    z-index: -1;
}

.login {
    width: 300px;
    height: 300px;
    flex-flow: column;
    row-gap: 30px;
}

.login-message {
    font-size: 25px;
    color: var(--main-text);
}

.login-third, .iconbox, .third-text, .login, .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-third {
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease;
}

.login-third:active {
    transform: scale(1.1);
}

.login-third:hover>.third-text {
    color: black;
}

.iconbox {
    height: 45px;
    /* background-color: var(--main-back-2); */
    width: 39px;
    padding-left: 5px;
    margin-right: 15px;
}

.google-icon {
    font-size: 21px;
    color: var(--main-text);
    transition: 0.4s all ease;
}

.third-text {
    width: 100%;
    height: 41px;
    padding-left: 10px;
    transition: 0.4s all ease-in-out;
    letter-spacing: 1.2px;
    outline: 0px;
    font-size: 16px;
    border: 0px;
    position: relative;
    color: var(--main-text);
    overflow: hidden;
    padding: 0px;
    border-top-right-radius: 20px;
    font-size: 15px;
    border-bottom-right-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1.9px;
    height: 45px;
}