.nav-icon {
    cursor: pointer;
    z-index: 10000;
    position: fixed;
    top: 20px;
    transition: 0.25s all ease-in-out;
    left: 20px;
    background-color: var(--main-text);
    display: flex;
    flex-flow: column;
    row-gap: 5px;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    align-items: center;
}

.nav-icon:hover {
    background-color: var(--main-back-2);
    border: 2px solid var(--main-semi-0);
}

.nav-icon:hover>.bar1, .nav-icon:hover>.bar2 {
    background-color: var(--main-text);
}

.bar1, .bar2 {
    width: 22px;
    transition: 0.25s all ease-in-out;
    height: 2px;
    transform-origin: 10px 1px;
    background-color: var(--main-back-1);
}

.navpage::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(15, 12, 17, 0.9) 0%, rgba(15, 12, 17, 0.93) 40%, rgba(15, 12, 17, 0.96) 80%, rgba(15, 12, 17, 1) 100%);
    z-index: 50;
}

.navpage {
    transition: 0.3s all ease-in-out;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: url('../../../Images/navImage.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 100;
}